<!DOCTYPE html>
<html>
	<head>
		
	</head>
	<body>
		<h1 style="text-align: center">Bienvenid@ a <strong>Thunder</strong>, <%= @user.name %></h1>

		<p>Te has registrado correctamente en TE<strong>GUSTA</strong>O<strong>NO</strong>, escríbenos en twitter <a href="http://twitter.com/tegustaono">@TeGustaONo</a>, visitanos en <a href="<%= @url %>">TeGustaONo</a></p>
	</body>
</html>